/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
/.serverless
/.dynamodb  # for local development
/.serverless-offline
composer.lock

/node_modules
/public/hot
/public/storage
/storage/*.key
.env.backup
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.vscode
package-lock.json
composer.lock
