APP_NAME=Manu
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

SESSION_DRIVER=file
SESSION_LIFETIME=120

FILESYSTEM_DRIVER=s3
BUCKET_KEY=S3RVER
BUCKET_SECRET=S3RVER
BUCKET_REGION=us-east-2
BUCKET_NAME=manu-frontend-local
BUCKET_ENDPOINT=http://localhost:4569
BUCKET_URL=http://localhost:4569/${BUCKET_NAME}/
BUCKET_AWS_USE_PATH_STYLE_ENDPOINT=true

DYNAMODB_CONNECTION=local
DYNAMODB_KEY=DYNAMODB
DYNAMODB_SECRET=DYNAMODB
DYNAMODB_TABLE=${APP_ENV}.players
DYNAMODB_LOCAL_ENDPOINT=http://localhost:8000
